<h3>semi-weekly payRoll</h3><br>
<h3>Pay Schedule</h3><br>
<mat-form-field>
    <mat-label>Select a Weekday</mat-label>
    <mat-select [(ngModel)]="selectWeekDays">
      <mat-option value="">Select a Weekday</mat-option>
      <mat-option value="1">Monday</mat-option>
      <mat-option value="2">Tuesday</mat-option>
      <mat-option value="3">Wednesday</mat-option>
      <mat-option value="4">Thursday</mat-option>
      <mat-option value="5">Friday</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 30px;" >
      <input matInput [matDatepicker]="picker" placeholder="Choose a Weekday" [(ngModel)]="selectableWeekDay" [matDatepickerFilter]="filterSelectableWeekDay" (ngModelChange)="handleWeekDayChange($event)"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>
    <mat-form-field>
  
      <mat-label>Select a Weekday</mat-label>
      <mat-select [(ngModel)]="selectedDays">
        <mat-option value="">Select a Weekday</mat-option>
        <mat-option value="11">Current Monday</mat-option>
        <mat-option value="22">Current Tuesday</mat-option>
        <mat-option value="33">Current Wednesday</mat-option>
        <mat-option value="44">Current Thursday</mat-option>
        <mat-option value="55">Current Friday</mat-option>
        <mat-option value="111">Next Monday</mat-option>
        <mat-option value="222">Next Tuesday</mat-option>
        <mat-option value="333">Next Wednesday</mat-option>
        <mat-option value="444">Next Thursday</mat-option>
        <mat-option value="555">Next Friday</mat-option>
        <mat-option value="1">Previous Monday</mat-option>
        <mat-option value="2">Previous Tuesday</mat-option>
        <mat-option value="3">Previous Wednesday</mat-option>
        <mat-option value="4">Previous Thursday</mat-option>
        <mat-option value="5">Previous Friday</mat-option>
      </mat-select>
      
    </mat-form-field>
      <mat-form-field style="margin-left: 30px;">
        <input matInput [matDatepicker]="pickers" placeholder="Choose a Weekday" [(ngModel)]="selectableSemiWeekDay" [matDatepickerFilter]="filterSelectableSemiWeekDay" (ngModelChange)="handleSemiWeekDayChange($event)"/>
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>
  